@model List<MongoDbFoodMart.Dtos.CustomerDto.ResultCustomerDto>

@{
    ViewData["Title"] = "CustomerList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="container" style="margin-top:-10px;">
    <div class="page-inner">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Müşteriler</div>
                    </div>

                    <table class="table table-hover">

                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Ad Soyad</th>
                            <th>Departmanı Id</th>
                            <th>Departmanı Adı</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.CustomerId</td>
                                <td>@item.CustomerName @item.CustomerSurname</td>
                                <td>@item.DepartmentId</td>
                                <td>@item.DepartmentName</td>
                                <td><a href="/Admin/Customer/UpdateCustomer/@item.CustomerId" class="btn btn-success">Güncelle</a></td>
                                <td><a href="/Admin/Customer/DeleteCustomer/@item.CustomerId" class="btn btn-danger">Sil</a></td>
                            </tr>
                        }
                    </table>
                </div>
                <a href="/Admin/Customer/CreateCustomer" class="btn btn-info">Yeni Ürün Girişi</a>
            </div>
        </div>
    </div>
</div>

