@model MongoDbFoodMart.Dtos.FeatureDto.GetByIdFeatureDto

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="margin-top:-10px;">
    <div class="page-inner">

        <div class="row">
            <div class="col-md-12">

                <div class="card-header">
                    <div class="card-title">Ürün Güncelleme Sayfası</div>
                </div>

                <form method="post">

                    <br />
                    <label class="form-control">Ürün Id</label>
                    @Html.TextBoxFor(x => x.FeatureId, new { @class = "form-control", @readonly = "readonly" })
                    <br />
                    <label class="form-control">Ürün Açıklama</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br />
                    <label class="form-control">Resim Yolu Adı</label>
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    <br />
                    <label class="form-control">Açıklama</label>
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                    <br />
                    <label class="form-control">Ürün Id (Product Tablosu)</label>
                    @Html.TextBoxFor(x => x.ProductId, new { @class = "form-control" })
                    <br />
                    <label class="form-control">Kategori Id</label>
                    @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-outline-warning">Güncelle</button>

                </form>

            </div>
        </div>
    </div>
</div>





